<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>pagina   2</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .img-container {

    display: block;
    text-align: center;

  }

  .centrado {
    display: flex;
    justify-content: center;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <div class="img-container"> <!-- Block parent element -->
    <img
      src="https://w7.pngwing.com/pngs/412/163/png-transparent-ghostbusters-logo-logo-ghostbusters-film-art-ghost-white-text-logo-thumbnail.png"
      alt="John Doe">
  </div>
  <div class="centrado">
    <ion-button color="dark" class="ion-content-center" [routerLink]="['/pagina1']">cerrar</ion-button>
  </div>

</ion-content>