<ion-header [translucent]="true">
  <ion-toolbar class="">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pagina 1 {{variableStorage}}</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .container {
  flex-direction: column;
}

.track {
  width: 344px;
  background: var(--ion-color-medium);
  padding: 16px;
}

ion-card {
  width: 100px;
  box-shadow: none;
  margin: 0px;
}

  div {
    display: flex;
    justify-content: center;
  }
/**
esto es para cambiar el fondo a los botones
  .hello {  
    background-color: #005C53;
  }

esto es para cambiar el fondo de la pantalla  
  .fondo {
    --ion-background-color: rgb(66, 13, 71);
  }

  
aqui es para cambiarle el color a los input (cuadros de texto)

  ion-input{
    background-color: #000000;
  }
  **/
</style>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-item *ngFor="let x of lista">
    <ion-label>{{x.nombre | lowercase}} {{x.apellido}} - {{x.edad | number:"1.0-2"}}
      <ion-label>
        <td>El nombre Jose empieza con la letra {{x.nombre | slice:0:1}}</td><br>
        <td>los dos tienen {{ x.dinero | currency}} en la cuenta</td><br>
        <td>los dos nacieron el {{x.hoy | date:"dd MMMM yyyy"}}</td> 
        
      </ion-label>
      <ion-checkbox>¿Aceptas compartir sus datos personales?</ion-checkbox>
      
    </ion-label>


  </ion-item>
  <div class="container">
    <div class="track">
      <ion-card id="card" button="true">
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </div>
  
    <p>mueve.</p>
  </div>

</ion-content>