<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      iniciar sesión {{nombreUsuario}} 
    </ion-title>
  </ion-toolbar>

</ion-header>

<style>
  div {
    display: flex;
    justify-content: center;
  }
</style>

<ion-content [fullscreen]="true"><ion-header collapse="condense"></ion-header>
  <!--EMAIL-->
  <br>
  <div>
    <!--el ngModel es para guardar los datos de lo que ingresa el usuario-->
    <ion-input style="align-items: center; width: 500px;" type="email" [(ngModel)]="user1" label="Correo:" label-placement="floating"
      fill="outline" placeholder="Ingrese su nombre"></ion-input>
  </div>


  <br>
  <div>
    <!--CONTRASEÑA-->
    <ion-input style="align-items: center; width: 500px;" type="password" label="Clave:" label-placement="floating"
      fill="outline" placeholder="Ingrese su contraseña"></ion-input>
  </div>



  <div>
    <!--BOTONES-->
    <!--<ion-button color="dark" [routerLink]="['/pagina1']">INGRESAR {{user1}}</ion-button> <br>-->
<!--estos son los eventos, este es para redireccionar cuando se espera algo-->
    <ion-button color="dark" (click) ="iniciar_sesion()" >INGRESAR {{user1}}</ion-button>

  </div>
</ion-content>